<header class="headerDay">
    <a href="/" class="btn-cute btn-back">
        Voltar
    </a>
    <h1 class="page-title">ANOTAÇÕES DO DIA {{dateShow}}</h1>
    <a href="/create?date={{dateSave}}" class="btn-cute" style="margin-top:15px;">
        Criar Nova Anotação
    </a>
</header>

<div class="containerDiary">
    {{#if diaries}}
    {{#each diaries}}
    <div class="diaryBox">
        <div class="titleDiary">
            <h3>{{this.title}}</h3>
            <div class="buttonsTitleDiary">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div class="textDiary">
            <p>{{this.text}}</p>
        </div>
        <div class="btnDiary">
            <a href="/open/{{this.id}}/{{../dateSave}}" class="btn-cute btn-open">ABRIR</a>
            <a href="/edit/{{this.id}}/{{../dateSave}}" class="btn-cute btn-edit">Editar</a>
            <form action="/delete/{{this.id}}/{{../dateSave}}?_method=DELETE" method="POST" style="display:inline;">
                <button class="btn-cute btn-delete">Deletar</button>
            </form>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p style="text-align:center; font-size:1.6rem; color:var(--purple-dark);">
        OPS, NENHUMA ANOTAÇÃO ENCONTRDA PARA ESSA DATA
    </p>
    {{/if}}
</div>