{{!-- PÁGINA PARA VIZUALIZAR ANOTAÇÕES FEITAS NO DIA SELECIONADO --}}

<header class="headerPage">
    <a href="/" class="buttonCute buttonBack">Voltar</a>
    <h1 class="page-title">ANOTAÇÕES DO DIA {{dateShow}}</h1>
    <a href="/create?date={{dateSave}}" class="buttonCute buttonCreate">Criar Nova Anotação</a>
</header>

<div class="windowsContainer windowsContainerDay">
    {{#if diaries}}
    {{#each diaries}}

    <div class="containerDiary">
        <div class="titleWindow">
            <h2>{{this.title}}</h2>
            <div class="balls">
                <span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="textWindow textWindowDay textBorderRadiusNone">
            <p>{{this.text}}</p>
        </div>
        
        <div class="footerWindow">
            <a href="/open/{{this.id}}/{{../dateSave}}" class="buttonCute buttonOpen">VER</a>
            <a href="/edit/{{this.id}}/{{../dateSave}}" class="buttonCute buttonEdit">EDITAR</a>
            <form action="/delete/{{this.id}}/{{../dateSave}}?_method=DELETE" method="POST">
                <button class="buttonCute buttonDelete">Deletar</button>
            </form>
        </div>
    </div>

    {{/each}}
    {{else}}
    <p style="text-align:center; font-size:1.6rem; color:var(--purple-dark);">
        OPS, NENHUMA ANOTAÇÃO ENCONTRDA PARA ESSA DATA
    </p>
    {{/if}}
</div>