<header class="headerDay">
    <h1 class="page-title">ANOTAÇÕES DO DIA {{dateShow}}</h1>

    <a href="/create?date={{dateSave}}" class="btn-cute" style="margin-top:15px;">
        Criar Nova Anotação
    </a>
</header>

<div class="page-container">
    {{#if diaries}}
    {{#each diaries}}
    <div class="diary-box">
        <h3>{{this.title}}</h3>
        {{!-- <p>{{this.text}}</p> --}}

        <a href="/edit/{{this.id}}/{{../dateSave}}" class="btn-cute">Editar</a>

        <form action="/delete/{{this.id}}/{{../dateSave}}?_method=DELETE" method="POST" style="display:inline;">
            <button class="btn-cute btn-delete">Deletar</button>
        </form>
    </div>
    {{/each}}
    {{else}}
    <p style="text-align:center; font-size:1.6rem; color:var(--purple-dark);">
        OPS, NENHUMA ANOTAÇÃO ENCONTRDA PARA ESSA DATA
    </p>
    {{/if}}

</div>