<h2>Nova Anotação para {{dataExibicao}}</h2>

<form action="/day" method="POST">
    
    {{! CAMPO OCULTO: ENVIANDO A DATA SELECIONADA PARA O SERVIDOR }}
    <input type="hidden" name="date" value="{{dataSalvar}}">
    
    {{#if error}}
        <p style="color: red;">{{error}}</p>
    {{/if}}

    <label for="title">Título:</label>
    <input type="text" id="title" name="title" value="{{title}}" required><br><br>

    <label for="text">Anotação:</label>
    <textarea id="text" name="text" required>{{text}}</textarea><br><br>
    
    <button type="submit">Salvar Anotação</button>
</form>


{{!-- <h1>MINHAS ANOTAÇÕES</h1>

<form action="/add" method="post">
    <label for="titulo">Título:</label><br>
    <input type="text" id="titulo" name="titulo" placeholder="Digite o título" required><br><br>

    <label for="texto">Texto:</label><br>
    <textarea id="texto" name="texto" rows="5" placeholder="Digite o texto" required></textarea><br><br>

    <button type="submit">Salvar</button>
</form> --}}