{{!-- PÁGINA PARA EDITAR A ANOTAÇÃO DO DIÁRIO --}}

<header class="headerPage">
    <a href="/day?date={{dateSave}}" class="buttonCute buttonBack">VOLTAR</a>
    <h1>EDITANDO ANOTAÇÃO DO DIA {{dateShow}}</h1>
    <button type="submit" form="formEdit" class="buttonCute buttonSave">SALVAR</button>
</header>

<div class="windowsContainer windowsContainerCreateEditShow">
    <div class="inputTitleContainer">
        <div class="titleWindow">
            <h2>Título</h2>
            <div class="balls">
                <span></span><span></span><span></span>
            </div>
        </div>
        <input type="text" id="title" name="title" value="{{diaries.title}}" class="textWindow textInputTitleContainer"
            form="formEdit" required maxlength="50">
        <span id="charCountInside" class="charCountInside">0 / 50</span>
    </div>

    <div class="inputTextContaniner">
        <div class="titleWindow">
            <h2>Texto</h2>
            <div class="balss">
                <span></span><span></span><span></span>
            </div>
        </div>
        <textarea name="text" class="textWindow textInputTextContainer" form="formEdit"
            required>{{diaries.text}}</textarea>
    </div>
</div>

<form id="formEdit" action="/edit/{{diaries.id}}/{{dateSave}}?_method=PATCH" method="POST">
    <input type="hidden" name="date" value="{{dateSave}}">
</form>

{{!-- ATUALIZAR QUANTIDADE DE CARACTERS DIGITADOS --}}

<script>
    document.addEventListener("DOMContentLoaded", () => {

        const titleInput = document.getElementById("title");
        const counter = document.getElementById("charCountInside");
        const max = titleInput.getAttribute("maxlength");

        if (titleInput && counter) {

            function updateCounter() {
                const length = titleInput.value.length;
                counter.textContent = `${length} / ${max}`;

                if (length >= max) {
                    counter.classList.add("charCountLimit");
                } else {
                    counter.classList.remove("charCountLimit");
                }
            }

            titleInput.addEventListener("input", updateCounter);
            updateCounter();
        }
    });
</script>