<header class="headerOpen">
    <h1 class="page-title">ANOTAÇÃO</h1>

    <a href="/day?date={{dateSave}}" class="btn-cute btn-back">
        Voltar
    </a>
</header>

<div class="open-container">

    <div class="open-box">
        <h2 class="open-title">{{diary.title}}</h2>

        <p class="open-text">
            {{diary.text}}
        </p>

        <a href="/edit/{{diary.id}}/{{dateSave}}" class="btn-cute btn-edit-open">
            Editar
        </a>
    </div>

</div>
